/* PC */
@media (min-width: 77.5em) {
}

/* TABLET AND MOBILE*/

@media (max-width: 77.4375em) {
  .btn {
    padding: 16px 16px;
    font-size: 15px;
  }

  .contact-content .contact-infor {
    line-height: 2;
  }

  .contact-form .form-control {
    padding: 15px;
    font-size: 15px;
  }

  #nav .subnav a {
    padding: 5px 12px;
  }

  #footer .socials-list a {
    font-size: 28px;
    margin: 0 8px;
  }

  #footer .copyright a {
    padding: 12px 0;
    display: inline-block;
  }
}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 77.4375em) {
}

/* MOBILE */
@media (max-width: 46.1875em) {
  .s-full-width,
  .s-col-full {
    width: 100% !important;
  }

  .s-mt-8 {
    margin-top: 8px !important;
  }

  #header {
    overflow: hidden;
  }

  #header .search-btn {
    display: none;
  }

  #header .mobile-menu-btn {
    display: block;
  }

  #nav {
    display: block;
  }

  #nav > li {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #nav > li > a {
    padding: 1px 24px;
  }

  #nav .subnav {
    position: initial;
    background-color: #333;
  }

  #nav .subnav a {
    color: white;
    padding: 5px 40px;
  }

  #content .member-item {
    width: 100%;
    margin-top: 31px;
  }

  #content .member-img {
    width: 60%;
  }

  .contact-form {
    margin-top: 32px;
  }
}
